.pagination {
    margin: auto;
    display: flex;
    list-style: none;
    outline: #2300743b;
  }
  .pagination > .active > a{
    background-color: #384212 ;
    border-color: #0d07113b ;
    color: #fff;
  }
  .pagination > li > a{
    border: 1px solid #424242 ;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: #4800a7 ;
    border-color: #2d1b49;
    outline: none ;
  }
  .pagination > li > a, .pagination > li > span{
    color: #47ccde
  }
  .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset
  }